:root {
  --bg-color: white;
  --text-color: black;
}


.main__wrapper {
  width: 100vw;
  height: 100vh;
  padding: 10vh 10vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--bg-color);
  box-sizing: border-box;
}

.grid__item {
  border: 1px solid;
  border-color: var(--text-color);
}

.grid__item:last-child {
  border-left: none;
}

/* main data content part */

.content__wrapper {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.table__wrapper {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.table__wrapper table {
  border: 1px solid red;
}
.table__wrapper table tr {
  display: flex;
  justify-content: space-between;
}
.table__wrapper table tr:first-child {
  
}
.summary_warpper {
  display: flex;
  justify-content: space-between;
  border: 1px solid red
}

.summary_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* toggle wrapper */
.toggle__wrapper {
  display: flex;
  align-items: center;
  border: 1px solid red;
}

.toggle_form {
  display: flex;
  width: 300px;
}

/* form part */

.user-input {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  flex-direction: column;
}

.form__wrapper {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid blue;
}

.type__wrapper {
  border: 1px solid purple
}

.label-description {
  margin-bottom: .5rem;
}